/* .inner{
  max-width:1440px;
  margin:0 auto; 
  padding:0 70px;
  box-sizing: border-box;
}
#wrap{
  position: relative;
} */

.inner {
  min-width:320px;
  max-width: 760px;
  margin:0 auto;
  position: relative;
  padding:0 16px;
}
#wrap{width:100%;min-width:320px;max-width: 760px;
  margin:0 auto;}
  body{
    color: #333;
  }
h2{
  font-family : 'Gmarket';  
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5em;
}
h3{
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5em;
}
h4{
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5em;
}
.dark_blue{
  color: #2A2A5E;
}
.pink{
  color: #E9598A;
}
.mint{
  color: #27C3B5;
}
.yellow{
  color: #FFC34D;
}
/* .flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
} */
.btn_a{
  background-color: #E9598A;
  padding: 6px 20px;
  border-radius: 40px;
  color: #fff;
}
.btn_b{
  background-color: #fff;
  padding: 6px 20px;
  /* border:1px solid #E9598A; */
  border-radius: 40px;
  color: #E9598A;
}

/***********************status_bar**************************/
#status_bar{
  height: 24px;
  background-color: #2A2A5E;
}
/*********************header****************************/

#header{
  background-color: #2A2A5E;
 height: 40px;
  line-height: 35px;
}
#header .inner{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
}
#header .brand_logo{
  width: 60px;
  justify-content: center;
}
#header .brand_logo img{
  width: 100%;
}
#header .ticket{
justify-content: center;
}
/*********************section 1****************************/
#sec1 { 
  background: linear-gradient(rgba(16, 16, 37, 1), rgba(0, 0, 0, 0)), url(../images/main_sec01_back.jpg);  
  background-size: cover ;
  background-position: center center;
  height: 350px;
}
#sec1 .cont{
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}


#sec1 .cont .txt_box .tit{
  margin-top: 75px;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: 900;
}
#sec1 .cont .txt_box .txt{
  margin-top: 1rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.3em;
}
#sec1 .cont .img{
  margin-top: 75px;
  width: 40%;
}
#sec1 .cont .img img{
  width: 70%;
}
#sec1 .btn_list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
#sec1 .btn_list {
  margin-top: 30px;
}
#sec1 .btn_list .btn_a{
  margin-right: 10px;
}

/*********************section 1_1****************************/

#sec1_1 { 
  background: linear-gradient(rgba(16, 16, 37, 1), rgba(16, 16, 37, 0.5)), url(../images/main_sec01_back.jpg);  
  background-size: cover ;
  background-position: center center;
  height: 380px;
  color: #fff;
  padding-top: 55px;
}
#sec1_1 .pic{
  width: 100px ;
  height: 100px ;
  border-radius: 50%;
  background-image: url(../images/index_01_profile.jpg);
  background-size: cover ;
  background-position: center center;
margin: 0 auto;
margin-bottom: 20px;

}
#sec1_1 .name{
  font-weight: 800;
  margin-bottom: 0.7rem;
}
#sec1_1 .personal{
  text-align: center;

}
#sec1_1 .personal_info{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
#sec1_1 .personal_info p{
margin-right: 20px;
margin-bottom: 40px;
}
#sec1_1 .personal_info .point{
  margin-right: 0px;

  }
#sec1_1 .icon_list{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
#sec1_1 .icon_list p{
  margin-top: 10px;
}
#sec1_1 .icon_list img{
  height: 45px;
}


/*********************section 2****************************/

#sec2 .main_tit{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 10px;
}

#sec2 .swiper-slide{
  width: 200px;
  height: 200px;
  margin-bottom: 43px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #2A2A5E;
  box-shadow: 2px 2px 3px  #AAAAAA;
}
#sec2 .slide1{
  background-image: url(../images/sec2_img_01.jpg);
  background-size: cover ;
  background-position: center center;
}
#sec2 .slide2{
  background-image: url(../images/sec2_img_02.jpg);
  background-size: cover ;
  background-position: center center;
}
#sec2 .slide3{
  background-image: url(../images/sec2_img_03.jpg);
  background-size: cover ;
  background-position: center center;
}
#sec2 .slide4{
  background-image: url(../images/sec2_img_04.jpg);
  background-size: cover ;
  background-position: center center;
}
#sec2 .swiper-slide .txt_box{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color:#fff;
  padding: 10px;
}
#sec2 .swiper-slide .txt_box .tit{
  line-height: 1.3em;
  font-size: 0.8rem;
}
#sec2 .swiper-slide .txt_box .date{
  font-size: 0.6rem;
  color: #AAAAAA;
  text-align: left;
}

/*********************section 
3****************************/

#sec3 .main_tit {
  margin-top: 45px;
  margin-bottom: 10px;
}

#sec3 .img_box{
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/sec3_back_img.JPG);  
  background-size: cover ;
  background-position: center center;
  color: #fff;

  width: 100%;
  height: 210px;
  border-radius: 20px;
  overflow: hidden;
}
#sec3 .img_box .txt_box{
  width: 95%;
  position: absolute;
  top:50px;
  left: 20px;
}
#sec3 .img_box .txt_box .tit{
  font-size: 1.2rem;
  margin-bottom: 5px;
}
#sec3 .img_box .txt_box .txt{
  font-size: 0.8rem;
}
#sec3 .btn_a{
  margin-top: 20px;
  font-size: 0.8rem;
  width: 110px;
}


/*********************section 4****************************/
#sec4{
  margin-top: 45px;
  background-color: #D9D9D9;
  width: 100%;
  height: 100px;

}
#sec4 .icon_list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

}
#sec4 .icon_box{
  text-align: center ;
  margin-top: 20px;
}
#sec4 .icon_box p{
  margin-top: 5px;
  font-size: 0.9rem;
}
/*********************section 5****************************/
#sec5 {

  margin-bottom: 100px;
  width: 100%;
  height: 150px;
  background-image: url(../images/sec6_img.jpg);
  background-size: cover ;
  background-position: center center;
  color: #fff;
}
#sec5 .inner{
  position: relative;
}
#sec5 .txt_box{
  position: absolute;
  top:20px;
  left: 20px;
}
#sec5 .txt_box h4{
  font-size: 1.5rem;
}
#sec5 
#sec5 .logo{
  position: absolute;
  bottom:0px;
  right: 0px;
  width: 100px;
}
#sec5 .logo img{
  width: 100px;
  position: absolute;
  bottom:-126px;
  right: 20px;

}

/*********************bot_bar****************************/

#bot_bar {
  height: 70px;
  width: 100%;
 background-color: #F6F6F6;
position: fixed;
bottom: 0;
z-index: 999;
min-width: 320px;
max-width: 760px;
}
#bot_bar .icon_list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
#bot_bar .ticket{
  width: 60px;
  height: 60px;
  background: linear-gradient(to right, #F19B0B, #DD694E, #C35B91,#700289,#2A2A5E);
  border-radius: 100px;
  text-align: center;
transform: translateY(-15px);
}
#bot_bar .ticket img{
  margin-top: 15px;
  }
#bot_bar img{
margin-top: 10px;
}

/*********************footer****************************/

